/* basic styles */
.headerRow {
	background-color:#CCCCCC
}

.headerCell {
	border-right:1px solid #999999;
}

.labelCell,
.valueCell {
	border-bottom: 1px dotted #3D3D3D;
}

.slow {
	background-color:#FFF0F5;
}

.bold {
	font-weight: bold;
}

/* trace */
.traceWarning {
	background-color:#FFFACD;
}

.traceError {
	background-color:#FFF0F5;
}

.traceFatal {
	background-color:#CA226B;
}

/* queries */
.queryRow {
	background-color:#EFEFEF;
}

.queryRow.slow {
	background-color:#FFF0F5;
}

.querySQL {
	font-family: Monaco, monospace;
	margin-bottom: 2px;
	background: url(chrome://coldfireextension/skin/sqlnormalbg.gif) repeat-x #FFFFFF;
}

.querySQL.slow {
	background: url(chrome://coldfireextension/skin/sqlslowbg.gif) repeat-x #FFFFFF;
}


/* variables */
.variableToolbox {
    z-index: 2147483647;
    position: absolute;
    right: 0;
    padding: 1px 2px;
}


